.mainlabel {
    font-weight: 700;
    font-size: 20px;
}
.form-field {
    margin-bottom: 20px;
}
.form-buttons {
    display: flex;
}
.form-buttons div {
    width: 150px;
}
.submit_button {
    padding: 5px 10px;
    background: #079b0b;
    color: #ffffff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}
.longtext {
    width: 100%;
    padding: 5px 5px;
}
.longarea {
    width: 100%;
}
.form-select {
    width: 300px;
    padding: 5px 0;
}
.ql-container {
    min-height: 400px;
    font-size: 16px;
}
.ck_editor {
    min-height: 400px;
}
